# Python bytecode files
__pycache__/
*.py[cod]
*$py.class

# Database files
*.db
*.sqlite3
*.sqlite
*.db-journal

# Virtual environments
.venv/
env/
venv/
ENV/

# Logs and temporary files
*.log
*.bak
*.swp

# Dependency management
Pipfile
Pipfile.lock
poetry.lock
pdm.lock

# IDE configurations
.vscode/
.idea/

# Compiled Cython files
cython_debug/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Documentation build
docs/_build/
